vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

.rocketeer/
npm-debug.log*
.DS_Store
.idea/
v8-compile-cache-0/
07f59f2c-7d94-418a-9d08-11a325a77856.dmp